@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">
    <h3 class="display-6">Welcome</h3>
    <p><a href="./Events">See all available events</a></p>
    <p><a href="./EventManagement">Manage events</a></p>
</div>
